In [258]:
import pandas as pd
import matplotlib as plt
import sklearn as sk

In [259]:
df = pd.read_csv('train.csv')

### As we see, There is a lot of useless Data, such as Name, Sex, Etc...

### Pre-Processing :

In [260]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [261]:
df = df.drop(["Name","Ticket","PassengerId","Fare","Cabin","Embarked","Parch","SibSp"], axis=1)

In [262]:
replace_dict = {'female': 1, 'male': 0}
df.replace(replace_dict, inplace=True)

In [263]:
df.fillna(method='ffill', inplace=True)

In [264]:
df.tail()

     Survived  Pclass  Sex   Age
886         0       2    0  27.0
887         1       1    1  19.0
888         0       3    1  19.0
889         1       1    0  26.0
890         0       3    0  32.0

*Checking For missing values :*

In [265]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
dtype: int64

## Training The data

Let's divite It !

## Random Forest Model

### There is always a peak n_splits where we obtain the most accurate data, let's find out !

In [266]:
X = df.drop(["Survived"], axis=1).values
y = df["Survived"].values

In [267]:
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()

In [295]:
n_splits_range = [2, 3, 4, 8, 15, 20, 50, 60]
acc_list = {}
for n_splits in n_splits_range:
    kf = KFold(n_splits=n_splits)
    avg_acc=[]
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        model = RandomForestClassifier()
        model.fit(X_train,y_train)
        y_pred = model.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        avg_acc.append(acc)
        
    average_number = sum(avg_acc)/len(avg_acc)
    acc_list[n_splits] = average_number


max_avg = max(acc_list, key=acc_list.get)
print("Max Average is " ,acc_list[max_avg], "At n_splits =" ,max_avg)

Max Average is  0.8070056497175142 At n_splits = 15

##### Looks like the best score is at n_splits = 15

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [296]:
n_splits_range = [2, 3, 4, 8, 15, 20, 50, 60]
acc_list = {}
for n_splits in n_splits_range:
    kf = KFold(n_splits=n_splits)
    avg_acc=[]
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        model = KNeighborsClassifier()
        model.fit(X_train,y_train)
        y_pred = model.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        avg_acc.append(acc)
        
    average_number = sum(avg_acc)/len(avg_acc)
    acc_list[n_splits] = average_number


max_avg = max(acc_list, key=acc_list.get)
print("Max Average is " ,acc_list[max_avg], "At n_splits =" ,max_avg)

Max Average is  0.7787301587301587 At n_splits = 60

##### Looks like the best score is at n_splits = 60