In [96]:
import pandas as pd

In [97]:
import numpy as np

In [98]:
df = pd.read_csv('train.csv')

In [99]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [100]:
to_drop = ["SibSp","Parch","Ticket","Fare","Cabin","Name","Embarked","PassengerId"]

In [101]:
df=df.drop(to_drop, axis=1)

In [102]:
gender_map = {'male': 0, 'female': 1}

In [103]:
df['Sex']=df['Sex'].map(gender_map)

In [104]:
df["Age"].fillna(df["Age"].mean(),inplace= True)

In [105]:
from sklearn.neighbors import KNeighborsClassifier

In [106]:
model=KNeighborsClassifier()

In [107]:
y = df['Survived']
X=df.drop('Survived', axis=1)

In [108]:
X

     Pclass  Sex        Age
0         3    0  22.000000
1         1    1  38.000000
2         3    1  26.000000
3         1    1  35.000000
4         3    0  35.000000
..      ...  ...        ...
886       2    0  27.000000
887       1    1  19.000000
888       3    1  29.699118
889       1    0  26.000000
890       3    0  32.000000

[891 rows x 3 columns]

In [109]:
model.fit(X,y)
model.score(X,y)

0.8327721661054994

In [122]:
def survie(model, pclass=1, sex=1, age=19):
    x=np.array([pclass, sex, age]).reshape(1,3)
    print(model.predict(x))

In [123]:
survie(model)

[1]

C:\Users\hayet\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(